fastapi>=0.111.0
uvicorn>=0.30.1
pydantic>=2.7.4
langgraph
langchain-anthropic
langchain-core
pdfplumber>=0.11.2
PyMuPDF
numpy-financial>=1.0.0
numpy>=1.26.4
pandas>=2.2.2
scipy>=1.13.1
yfinance>=0.2.40
requests>=2.32.3
python-dotenv>=1.0.1
supabase>=2.5.1
